#siteWrapper {
	position: relative;
	min-height: 100%;
	padding-bottom: 300px; /* height of footer */
}

button.menu {
	position: relative;
	float: left;
	padding: 5px 10px 9px 10px;
	margin-right: 10px;
	background-color: white;
	background-image: none;
	border: 1px solid #C3C3C3;
	border-radius: 4px;
}
button.menu .icon-bar {
	display: block;
	width: 20px;
	height: 2px;
	border-radius: 1px;
	background-color: #888;
	margin-top: 4px;
}
button.menu:hover,
button.menu.active {
	background-color: #337ab7;
	border-color: #2e6da4;
}
button.menu:hover .icon-bar,
button.menu.active .icon-bar {
	background-color: #FFF;
}

#menuContainer {
	padding-top: 2px;
}

#autocomplete {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top: transparent;
	border-left: 1px solid #66AFE9;
	border-right: 1px solid #66AFE9;
	border-bottom: 1px solid #66AFE9;
	-webkit-box-shadow: 0px 10px 20px 0px rgba(150,150,150,0.75);
	-moz-box-shadow: 0px 10px 20px 0px rgba(150,150,150,0.75);
	box-shadow: 0px 10px 20px 0px rgba(150,150,150,0.75);
	background-color: white;
	position: absolute;
	left: 15px;
	right: 15px;
}

.autocompleteRow {
	display: block;
	text-decoration: none;
	padding: 5px 10px;
	cursor: pointer;
}
.autocompleteRow:hover {
	color: white;
	text-decoration: inherit;
	background-color: #03A9F4;
}
.autocompleteRow:hover .grey,
.autocompleteRow:hover .black {
	color: white;
}

#siteFooter {
	background-color: #EDEDED;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.footerProfile {
	width: 80px;
	position: relative;
	float: left;
	margin-left: 10px;
	margin-right: 20px;
	top: -20px;
	z-index: 10;
}

#donateBtn {

}

#autocompleteNoResults {
	padding: 5px 10px;
	color: #999;
}

.autocompleteLoading {
	display: block;
	width: 32px;
	margin: 5px auto;
}
