<div class="autocompleteContainer">
	{{ range $key, $value := .Result }}
		<div class="autocompleteRow"
			data-version="{{ $value.BibleVersion }}"
			data-bookId="{{ $value.BookId }}"
			data-BookShortName="{{ $value.BookShortName }}"
			data-BookLongName="{{ $value.BookLongName }}"
			data-BookOtherName="{{ $value.BookOtherName }}"
			data-ChapterNumber="{{ $value.ChapterNumber }}"
			data-VerseFrom="{{ $value.VerseFrom }}"
			data-VerseTo="{{ $value.VerseTo }}"
		>
			<div>
				<span>{{ $value.BookLongName }}</span>
				<span>{{ $value.ChapterNumber }}</span><span>章</span>
				
				{{ if and (eq $value.VerseFrom 0) (eq $value.VerseTo 0)}}
					<span></span>
				{{ else if eq $value.VerseFrom $value.VerseTo}}
					<span>{{$value.VerseFrom}}</span><span>節</span>
				{{ else }}
					<span>{{$value.VerseFrom}}</span><span>節</span> &mdash; <span>{{$value.VerseTo}}</span><span>節</span>
				{{ end }}
			</div>
			<div class="ellipsis">
				{{ range $value.VerseText }}
					<span>{{.Number}}</span> <span>{{.Text}}</span>
				{{end}}
			</div>
		</div>
	{{end}}
</div>