<div id="autocompleteContainer">
	{{ with gt (len .Result) 0 }}
		{{ range $key, $value := $.Result }}
			<a class="autocompleteRow"
				data-index="{{$key}}"
				data-version="{{ $value.BibleVersion }}"
				data-bookId="{{ $value.BookId }}"
				data-BookShortName="{{ $value.BookShortName }}"
				data-BookLongName="{{ $value.BookLongName }}"
				data-BookOtherName="{{ $value.BookOtherName }}"
				data-ChapterNumber="{{ $value.ChapterNumber }}"
				data-VerseFrom="{{ $value.VerseFrom }}"
				data-VerseTo="{{ $value.VerseTo }}"
				href="?b={{$value.BookId}}&amp;c={{$value.ChapterNumber}}&amp;v1={{$value.VerseFrom}}&amp;v2={{$value.VerseTo}}"
			>
				<div class="black font16">
					{{ $value.BookLongName }} {{ $value.ChapterNumber }}章
					
					{{ if and (eq $value.VerseFrom 0) (eq $value.VerseTo 0)}}
						
					{{ else if eq $value.VerseFrom $value.VerseTo}}
						{{$value.VerseFrom}}節
					{{ else }}
						{{$value.VerseFrom}}節 &mdash; {{$value.VerseTo}}節
					{{ end }}
				</div>
				<div class="grey ellipsis">
					{{ range $value.VerseText }}
						{{.Number}} {{.Text}}
					{{end}}
				</div>
			</a>
		{{ end }}
	{{ else }}
		<div id="autocompleteNoResults">沒找到相關經文... No Results Found...</div>
	{{ end }}
</div>