{{template "header" .Header }}

<div class="container margin_t_10">
	<div class="row">
		<div class="col-xs-12 relative z1000">
			<form class="form-inline width_100p">
				<button type="button" class="menu">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div style="float:right;">
					<button id="searchButton" class="btn btn-primary" style="width:60px;">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
				</div>
				<div style="overflow:hidden; padding-right:5px;">
					<input id="searchInput" type="text" class="form-control" style="width:100%;" id="searchInput" placeholder="yuehan316">
				</div>
			</form>
			<div id="autocomplete" style="display:none;"></div>
		</div>
		<div class="col-xs-12">
			<div id="menuContainer" style="display:none;">
				<button type="button" id="unselectBookMenu" style="display:none;" class="margin_b_5 margin_t_5 btn btn-default">
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
				</button>
				<button type="button" id="selectedBookMenu" style="display:none;" data-book-id="" class="margin_b_5 margin_t_5 btn btn-primary"></button>
				<div id="bookBlock">
					{{ range $book := .Bible.Books }}
						{{ if eq $book.Id 40 }}
							<hr class="margin_t_5 margin_b_5" />
						{{ end }}
						<button type="button" data-book-id="{{$book.Id}}" class="bookmenu btn margin_t_2 margin_b_2 {{ if eq $book.Id $.InitBookId }}btn-primary{{ else }}btn-default{{ end }}">
							{{$book.LongName}}
						</button>
					{{ end }}
				</div>
				<div id="chapterBlock" style="display:none"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div
			class="col-xs-12"
			id="partialContainer"
			data-init-book-id="{{.InitBookId}}"
			data-init-chapter="{{.InitChapter}}"
			data-init-verse-begin="{{.InitVerseBegin}}"
			data-init-verse-end="{{.InitVerseEnd}}"
		>	
		</div>
	</div>
	<div class="row margin_t_20">
		<div class="col-xs-12 center" id="loadingMarker">
			<img src="/static/img/loading.gif" alt="Loading..." />
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			{{.Dump}}
		</div>
	</div>
</div>

{{template "footer" .Footer }}